<?xml version="1.0" encoding="utf-8"?>
<odoo>

  <!-- ========================================== -->
  <!-- CRM ROOT MENU -->
  <!-- ========================================== -->

  <menuitem id="menu_crm_abissnet_root"
            name="Abissnet CRM"
            web_icon="crm_abissnet,static/description/icon.png"
            sequence="10"/>

    <menuitem id="menu_management"
            name="Management"
            parent="menu_crm_abissnet_root"
            sequence="50"/>

</odoo>