<odoo>
  <!-- ROOT ekziston -->
  <menuitem id="menu_asr_radius_root"
            name="RADIUS"
            web_icon="asr_radius_manager,static/description/icon.png"
            sequence="50"/>

    <!-- Configuration kategori (pa action - vendoset në asr_radius_config_views.xml) -->
  <menuitem id="menu_asr_radius_config"
            name="Configuration"
            parent="menu_asr_radius_root"
            sequence="90"/>
</odoo>
